body {
margin: 0;
font-family: 'Segoe UI', sans-serif;
background: #0f172a;
color: white;
}

/* NAVBAR */
nav {
display: flex;
justify-content: space-between;
padding: 20px 50px;
background: black;
position: sticky;
top: 0;
}

nav ul {
display: flex;
list-style: none;
}

nav li {
margin-left: 20px;
}

nav a {
text-decoration: none;
color: white;
}

/* HERO */
.hero {
display: flex;
align-items: center;
justify-content: space-between;
padding: 80px;
}

.hero-left {
max-width: 500px;
}

.hero-right img {
width: 300px;
border-radius: 10px;
}

/* BUTTON */
.btn {
padding: 10px 20px;
background: #38bdf8;
color: black;
border-radius: 6px;
text-decoration: none;
}

/* SECTIONS */
section {
padding: 60px;
}

/* SKILLS */
.skill {
margin: 15px 0;
}

.bar {
background: #1e293b;
height: 10px;
border-radius: 5px;
}

.fill {
height: 10px;
background: #38bdf8;
}

/* PROJECTS */
.project-card {
background: #1e293b;
padding: 20px;
margin: 20px 0;
border-radius: 10px;
}

/* ANIMATIONS */
.fade-in {
opacity: 0;
transform: translateY(30px);
transition: 1s;
}

.fade-in.show {
opacity: 1;
transform: translateY(0);
}

.slide-in {
opacity: 0;
transform: translateX(50px);
transition: 1s;
}

.slide-in.show {
opacity: 1;
transform: translateX(0);
}



